venv/
.env
src/__pycache__/
src/analityc/core/__pycache__/
Car Exit/
env/
debugger/
train/__pycache__/
output/
debugger/ouput/
yolo11n.pt
yolo11n.pt
yolo11x.pt
saved_model.pt
yolo11n.pt
yolo12l.pt
yolo12x.pt
yolo26m.pt
yolo12n.pt
yolo26l.pt
yolo26l.pt
yolo26n.pt
yolo12m.pt
saved_model.pt
detection_log.txt
detection_log.txt
best_model_trained.pt
runs/
models/
train/datasets/